@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Base.cshtml";
}

<section id="pageheader">
    <h1>Character Creation</h1>
</section>

<section id="creationIntro">

    <div style="background-image: url(http://placebear.com/g/400/400)" class="roundimg"></div>

    <h2>Ready to create a Quigley character?</h2>

    <p>There are very few limitations regarding what kind of characters can play at Quigley. Characters can be from any genre - anything from medieval/fantasy, to historical, to realistic modern, to sci-fi, and anything in between. Your character needs not be from Earth, and could come from a completely unique world of your own making.</p>

    <p>More than anything, we're interested in characters who seem realistic and interesting, no matter how extraordinary or ordinary their backgrounds may seem. After all, most of the RP at Quigley is with other PCs: getting to know them, struggling to get along with them, and ultimately working together or against them. Your character needs to fit into all that in an interesting way.</p>

    <p>If you do not have any active characters, you can make a new character at any time. If you already have an active character, you can add a new character if you've played the other one in at least 20 scenes, and can maintain playing each character at least once per week per character. You can have more than two characters, as long as you can meet this criteria for all of them. If you do not consistently maintain your character's participation in the setting, then the character may be rendered inactive and unable to be played, though you may earn the right to restore the character at a later point.</p>

</section>

<fieldset class="heading"><legend>The Idea</legend></fieldset>

<section id="charElements" class="row">
    
    <h2>Every character at Quigley should start with these three equally important elements:</h2>

    <ul>
        <li class="col-m-4">
            <img src="/Css/images/temp/lightbulb.png" />
            <h3>Concept</h3>
            <p>A witch, an archaeologist, a cop - these are all basic concepts of a character. Abilities or appearance may be part of the concept, but are not as crucial as the role this character will play in the group.</p>
        </li>
        <li class="col-m-4">
            <img src="/Css/images/temp/drama.png" />
            <h3>Personality</h3>
            <p>Your character can't just be a pile of skills and abilities. You need to have an idea of how this character will interact with others and what will motivate his actions throughout the game.</p>
        </li>
        <li class="col-m-4">
            <img src="/Css/images/temp/book.png" />
            <h3>Background</h3>
            <p>A character's background should shape who they are today; his personality, abilities, and motives should in fact be explained by the background. Your character should be able to talk about himself. No amnesia. </p>
        </li>
    </ul>

</section>

<section id="CharQuestions">

    <h3>Consider these questions to help develop these elements:</h3>

    <ul>
        <li>Are there other characters at Quigley who seem very similar to your concept? A couple mercenaries might be okay, but in a cast of twenty-or-so people, it wouldn't be very fun to have two medical doctors, for example.</li>
        <li>Is your concept actually compelling in a setting where there will be more talking and interacting with other player characters than romping through a structured adventure? Would this character be fun to play when there isn't much action going on around him?</li>
        <li>An "alignment" is not a personality; alignments are in fact complete bullshit and are not a reflection of how morality works in the real world. Still, you should consider his morality structure. What is considered the norm in his world? What does he consider right and wrong, and why?</li>
        <li>Try coming up with a list of adjectives that describe your character's personality. Remember, a good protagonist isn't perfect, and a good antagonist isn't pure evil.  Do these adjectives show both strengths and weaknesses?</li>
        <li>Is your character's personality subtle enough to seem realistic? Does a cartoon or anime come to mind when you think of your character's personality? If so, this is not a good thing. No one is happy all the time, serious all the time, energetic all the time, or anything all the time.</li>
        <li>What is your character most proud of? What is he ashamed of? What are some things in your character's life that haven't gone so well? How much of that is his fault? If your character has never done anything wrong in his life (or anything good in his life), then he's probably not very interesting.</li>
        <li>Some people don't realize this, but other people actually exist who are not your character! After all, in reality, others greatly influence who we are. Who are some people who are important to your character in his life? What are their names? What do they think of your character?</li>
        <li>How did your character come to learn the skills he has? Did someone teach him these skills? Did he attend school? Were they hard-won through experience? What were some struggles he faced while learning?</li>
        <li><strong>Most importantly, consider this:</strong> is your character still interesting if you strip away all his powers, special items, and unique physical traits? He damn well better be! Don't be afraid to spend some time on your character until he meets this standard.</li>
    </ul>

</section>

<section id="creationRequirements">

    <fieldset class="heading"><legend>The Requirements</legend></fieldset>

    <ul>
        <li><strong>Your character must have been born human.</strong> This means no elves, no aliens, no made-up or well-established races at all. However, your character may be an altered human, such as one who has been turned into a vampire, or one who has been subject to body-altering experiments. Normal humans are also perfectly acceptable and encouraged!</li>

        <li><strong>Your character must be original to Quigley, and so must their background.</strong> This means no copyrighted characters (e.g. Harry Potter, Luke Skywalker) and no original characters from copyrighted worlds. (e.g. Harry Potter's lesser known twin sister Carrie Potter, a random Jedi from Hoth who has nothing else to do with the Star Wars characters). This also means you may not use characters who began in other RPs. You may not use characters who are even remotely related to characters who have been in other RPs.</li>

        <li><strong>No anime, cartoonish, or otherwise unbelievably wacky characters.</strong> Your character must fit in with the logical, realistic, mature FEEL of this RP. No furries.</li>

        <li><strong>Your character cannot have ridiculous advantage over an average human.</strong> No one can be ten feet tall, no one can be 500 pounds of muscle, no one can have powers that make the character even somewhat impervious. This means no stab-proof characters. You character must suffer significant damage when stabbed anywhere on their body. No exceptions.</li>

        <li><strong>This ain't the Arena; it's a relatively low-power setting.</strong> Your character may have supernatural abilities, advanced technologies, and magic here at Quigley, but they must be relatively toned down in comparison with what you may find at other places. The following abilities are not allowed: healing magic, teleportation, planeswalking, auto health regeneration, forcefields and magical party-shielding spells, immunity to magic, or any other "tension-breaking" ability that detracts from the drama of risks, isolation, and danger. Some exceptions may be allowed if you make it interesting enough, but don't count on it.</li>

        <li><strong>Abilities that are "always on" are not allowed.</strong> Some examples include: constant nightvision, enhanced senses, and magical spells that last for hours on end, such as a long-lasting "detect magic." This is because it's a real pain in the ass for our DMs to constantly have to remember these abilities, and they do not work very well with our dice system.</li>

        <li><strong>Your character's items must also be reasonable.</strong> A virtually unlimited supply of ammunition, medical supplies, or drugs will not be allowed. In fact, these items will be accounted for precisely at Quigley, so be prepared for some inventory management if you rely on these things.</li>

        <li><strong>There may be restrictions based upon what already exists within the RP.</strong> For example, it would not be a very interesting RP if half of the characters had guns, or a third of them were shapeshifters, or even two of them were medical doctors.</li>
    </ul>

</section>

<section id="charArrival">

    <fieldset class="heading"><legend>The Arrival</legend></fieldset>

    <p>Every character who arrives at The Quigley Inn must have been doing something associated with being at a hotel in their homeworld just before arriving. Characters are permitted to enter with them any luggage and items they had while at the hotel, but those items must correlate logically with the reason for being at a hotel to begin with. The reason for being at the hotel should not serve as merely an excuse to have cool items you wanted. As such, there are many acceptable ways of arriving at Quigley, and many unacceptable way, too. Keep in mind that the character must show up at a location that has been unlocked. Take a look:</p>

    <ul class="row">
        <li class="col-s-6">
            <h4>Acceptable Entrances:</h4>
            <ul>
                <li>Your character goes to sleep for the night at a hotel and wakes up at a random location in the Quigley, such as one of the couches in the lobby.</li>
                <li>Your character is just heading into a hotel to check in. She walks through the front door, only to find herself in the revolving door, leading to the lobby of the Quigley.</li>
                <li>Your character enters a tall hotel to try to sneak up to the roof and jump off, killing himself. He opens the door to the stairwell, only to find himself in the stairwell of the Quigley.</li>
                <li>Your character is gambling at a resort hotel and excuses herself to use the restroom. When he exits the stall, he finds himself in one of the Quigley's restrooms.</li>
                <li>Your character is a scavenger in a post-apocalyptic world. He heads into an abandoned hotel to look for useful items, and ends up in the dark depths of the basement level.</li>
            </ul>
        </li>
        <li class="col-s-6">
            <h4>Unacceptable Entrances:</h4>
            <ul>
                <li>Your character checks into a hotel on vacation and brought with him a shotgun, a pistol, a rocket launcher, and several cases of ammunition for each weapon, just in case.</li>
                <li>Your character arrives at the Quigley Inn because she totally meant to be there. Everything is completely normal to your character and she easily shrugs off the bizareness of becoming trapped there.</li>
                <li>Your character crashes a vehicle into the hotel, such as a car, horse, motorcycle, tank, or Gundam suit. Therefore, they totally can use their Gundam suit on plots, you guys.</li>
                <li>Your character goes to sleep for the night at a hotel wakes up in an area of the Quigley that hasn't been unlocked by the other characters yet. So they get to see everything first. So lucky.</li>
                <li>Your character enters the hotel from one of the worlds associated with the rooms - in other words, your character enters on a plot with other characters participating. (There may be some exceptions, but don't try to do this for your first character.)</li>
            </ul>
        </li>
        <li>
            <h4>Or why not just have one of us DM your entrance for you?</h4>
            <p>You may get more enjoyment out of having one of us DM the circumstances leading up to your character arriving at the Quigley Inn for you. This is a great way to get a little practice in with your new character and develop their background a bit. If interested, let us know!</p>
        </li>
    </ul>

</section>

<section id="charApplication" class="row">

    <fieldset class="heading"><legend>The Application</legend></fieldset>

    <p><strong>All characters must have an approved application before playing.</strong> Any character at Quigley will require an application before being permitted to play. This is includes new characters of players who've already played at Quigley. It even includes the moderator of the RP! No one is exempt, because it is crucial that each character's concept, abilities, and items are balanced properly for this intimate setting. <em>Every application must include the following:</em></p>

    <ul class="appreqs col-s-6">
        <li>
            <h4>The Basics</h4>
            <ul>
                <li>A brief statement of the character concept.</li>
                <li>An idea of the character's personality. These may be adjectives only, if desired. If the character follows any strict code of conduct, please outline it. If the character is an addict, please mention it.</li>
                <li>One or two sentences describing the character's appearance, including the age.</li>
                <li>A very short summary of how the character wound up at the Quigley Inn.</li>
            </ul>
        </li>
        <li>
            <h4>All MAJOR Abilities</h4>
            <ul>
                <li>This includes all skills, knowledge, and attributes that would affect combat (i.e. martial arts, marksmanship).</li>
                <li>This also includes all skills, knowledge, and attributes that may affect plots (i.e. language knowledge, surgical ability, being a master of disguise).</li>
            </ul>
        </li>
        <li>
            <h4>ALL Magical Abilities</h4>
            <ul>
                <li>The limitation and extent of each of these abilities must be detailed. Please be specific as possible.</li>
                <li>If your character casts specific spells, then include a spell list, too. Every spell must be listed.</li>
                <li>If the character derives his powers from a deity, then the tenants of the character's religion should be outlined.</li>
            </ul>
        </li>
    </ul>
    <ul class="appreqs col-s-6">
        <li>
            <h4>ALL Supernatural Abilities</h4>
            <ul>
                <li>The limitation and extent of these abilities must be detailed.</li>
                <li>It doesn't matter if they're combat related or not. Include them all, EVERY one.</li>
            </ul>
        </li>
        <li>
            <h4>Luggage and Inventory</h4>
            <ul>
                <li>A summary of all items. Be as descriptive as possible, including how much money the character brought.</li>
                <li>ALL magical or supernatural items and ALL futuristic devices, including their limitations.</li>
                <li>A listing of what medical supplies, drugs, and ammunition the character has down to the number.</li>
            </ul>
        </li>
        <li>
            <h4>Balance & Imperfections</h4>
            <ul>
                <li>Your character must be able to feasibly be beaten by a normal human with no powers.</li>
                <li>Your application must reflect this, either by having a very reasonable character or balancing strengths with weaknesses.</li>
            </ul>
        </li>
        <li>
            <h4>A Sample Post</h4>
            <ul>
                <li>This is only applicable if this is your FIRST character at Quigley, or have no one in the RP who can vouch for you.</li>
                <li>We will not be saving this post, so do not make it fancy, and don't put a lot of time into it. It should reflect your typical posting style.</li>
            </ul>
        </li>
    </ul>

</section>

<section id="submitApp" class="row">

    <h3>Submitting Your Application:</h3>

    <div class="col-m-9">
        <ol>
            <li><strong>Log into the Keep and find the Quigley room, and ask for someone who can accept and review your application.</strong> There's a list of people who can do that in this section. There may not be anyone on at the moment if you're asking during inactive hours, so please be patient!</li>
            <li><strong>Send it over to someone on the list via Skype or email.</strong> Please do not overformat your application. Keep it in a simple text (Notepad) file, a microsoft Word document, or a Google Doc. You could even opt to copy &amp; paste your application directly into a Skype or email message.</li>
            <li><strong>You need two people on the list to accept the application.</strong> Any two will do - it doesn't have to be the moderator, but it does need to be someone on the list in this section. If you're not picky, we'll decide for you. Bear in mind that whichever two people approve your application will be responsible for policing your character's abilities during play. For this reason, these helpers reserve the right to pass on the responsibility to someone else.</li>
            <li><strong>If you want to keep secret something on the application, please tell us!</strong> Maybe it's a secret item or ability. Maybe your character is secretly a vampire. You might even be trying to keep this secret from a specific person. These applications are not publicly displayed, so we'll try our best to accomodate you! You still have to tell the two reviewing your application EVERYTHING, though.</li>
            <li><strong>Your application will be addressed as soon as possible.</strong> Usually you can expect to hear back the day you submitted it, if it wasn't too late in the evening. If your character is not accepted, we'll try to work with you until the character will fit. At the very least, you'll know why the character wasn't accepted! But relax. If you've paid attention to the information on this page, you'll probably get in with no problem.</li>
        </ol>
    </div>
    <div class="col-m-3 appHelpers">
        <strong>Who can accept and approve your application? Pick two!</strong>
        <ul>
            <li><a href="#">Amber</a></li>
            <li><a href="#">Caleb</a></li>
            <li><a href="#">Jarrett</a></li>
            <li><a href="#">Stacy</a></li>
            <li><a href="#">Tyler</a></li>
        </ul>
    </div>

</section>