@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Base.cshtml";
}

<section id="pageheader">

    <img src="/Css/images/temp/lobbybanner.jpg" />

    <h1>The Quigley Inn</h1>

</section>

<section id="welcome" class="row">
    <ul>
        <li class="col-m-4">
            <img src="/Css/images/key.png" />
            <h3>Looking for a setting?</h3>
            <p>Take a look at <a href="#">Amenities</a> for the public hotel locations and <a href="#">Rooms</a> for the individual rooms with their corresponding worlds.</p>
        </li>
        <li class="col-m-4">
            <img src="/Css/images/dice.png" />
            <h3>Need to see the Rules?</h3>
            <p>Refresh yourself on the <a href="#">Dice Rules</a> or the <a href="#">Status List</a>. The <a href="#">Character Creation Guide</a> or the <a href="#">RP Rules</a> may be what you’re after if you’re  interested in joining.</p>
        </li>
        <li class="col-m-4">
            <img src="/Css/images/bellboy.png" />
            <h3>Want who plays who?</h3>
            <p>Check out our <a href="#">Players</a> for a list of members at the RP and the <a href="#">Current Characters</a> to see what types of guests stay at the Quigley.</p>
        </li>
    </ul>
</section>

<section id="latestLogs">
    <fieldset class="heading"><legend>Latest Logs</legend></fieldset>

    <ul class="logs">
        <li class="log">
            <ul>
                <li style="background-image: url(/Css/images/temp/stair.jpg);background-position:center;" class="logLeft">
                    <h3 class="logTitle">This is the Name of the Log</h3>
                    <h4 class="logLoc">East Stairwell</h4>
                    <p class="logDesc">This is the description of the log. This is the description of the log. This is the description of the log. This is the description of the log. This is the description of the log. This is the description of the log.</p>
                </li>
                <li class="logRight">
                    <p>
                        Wednesday <br />
                        09.23.2015
                    </p>
                    <ul class="logCharacters">
                        <li>Opera</li>
                        <li>Alexandr</li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="log">
            <ul>
                <li style="background-image: url(/Css/images/temp/waterbedroom.jpg);background-position:center;" class="logLeft">
                    <h3 class="logTitle">This is the Name of Another Log</h3>
                    <h4 class="logLoc">Room 302</h4>
                    <p class="logDesc">Some log descriptions are very short.</p>
                </li>
                <li class="logRight">
                    <p>
                        Tuesday <br />
                        09.22.2015
                    </p>
                    <ul class="logCharacters">
                        <li>Brandon (DM)</li>
                        <li>Rikart</li>
                        <li>Diego</li>
                        <li>Vaithen</li>
                        <li>Damocles Iota</li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="log">
            <ul>
                <li style="background-image: url(/Css/images/temp/bathroom.jpg);background-position:center;" class="logLeft">
                    <h3 class="logTitle">Some Log Titles Are Very Long Because People Just Keep Rambling or Making Obscure References</h3>
                    <h4 class="logLoc">10th Floor Womens Restroom</h4>
                    <p class="logDesc">Some log descriptions are really long, like he just kept talking in one long incredibly unbroken sentence moving from topic to topic so that no-one had a chance to interrupt; it was really quite hypnotic. Some log descriptions are really long, like he just kept talking in one long incredibly unbroken sentence moving from topic to topic so that no-one had a chance to interrupt; it was really quite hypnotic. Some log descriptions are really long, like he just kept talking in one long incredibly unbroken sentence moving from topic to topic so that no-one had a chance to interrupt; it was really quite hypnotic.</p>
                </li>
                <li class="logRight">
                    <p>
                        Monday <br />
                        09.21.2015
                    </p>
                    <ul class="logCharacters">
                        <li>Rekah</li>
                        <li>Big Ben</li>
                        <li>Fallon</li>
                        <li>Walker</li>
                        <li>Tseng</li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="log">
            <ul>
                <li style="background-image: url(/Css/images/temp/lobby.jpg);background-position:center;" class="logLeft">
                    <h3 class="logTitle">This Log Title is So Freaking Fabulous</h3>
                    <h4 class="logLoc">Lobby</h4>
                    <p class="logDesc">I wanted to write a long description, but instead I just copy and pasted this three times. I wanted to write a long description, but instead I just copy and pasted this three times. I wanted to write a long description, but instead I just copy and pasted this three times.</p>
                </li>
                <li class="logRight">
                    <p>
                        Sunday <br />
                        09.20.2015
                    </p>
                    <ul class="logCharacters">
                        <li>Jarrett (DM)</li>
                        <li>Silver</li>
                        <li>Chastity</li>
                        <li>Trusken</li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</section>

<section id="newsfeed">
    <fieldset class="heading"><legend>Newsfeed</legend></fieldset>
</section>