@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Base.cshtml";
}

<section id="pageheader">
    <h1>Logs</h1>
</section>

<section id="log-details" class="row">

    <h1>Good Day Sunshine</h1>

    <h4 class="log-date"><strong>Day 21, Evening</strong> (Wednesday, September 23, 2014)</h4>

    <div class="log-desc col-l-9 col-m-8 col-s-7">

        <p>Good day sunshine, good day sunshine, good day sunshine. I need to laugh and when the sun is out. I've got something I can laugh about. I feel good in a special way. I'm in love and it's a sunny day. Good day sunshine, good day sunshine, good day sunshine. We take a walk, the sun is shining down. Burns my feet as they touch the ground. Good day sunshine, good day sunshine, good day sunshine. Then we'd lie beneath the shady tree. I love her and she's loving me. She feels good, she knows she's looking fine. I'm so proud to know that she is mine. Good day sunshine, good day sunshine, good day sunshine. Good day sunshine, good day sunshine, good day sunshine. Good day sunshine, good day sunshine, good day sunshine.</p>

    </div>

    <div class="log-dl col-l-3 col-m-4 col-s-5">

        <img src="/Css/images/temp/stair.jpg" />
        <p>
            <strong>Floor 10 Women's Restroom</strong> <br />
            <em>Journey to the Center of the Beard</em>
        </p>
        <a href="#" class="button">Download</a>

    </div>

    <div class="related-links">
        <h4 class="see-also"><strong>See Also:</strong></h4>
        <ul>
            <li>
                <em><a href="#">The Travels and Studies of Vaithen La'Rose</a></em>
            </li>
            <li>
                <em><a href="#">The Travels and Studies of Vaithen La'Rose</a></em>
            </li>
            <li>
                <em><a href="#">The Travels and Studies of Vaithen La'Rose</a></em>
            </li>
        </ul>
    </div>

</section>