@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Base.cshtml";
}

<section id="pageheader">
    <h1>New to Quigley?</h1>
</section>

<section id="intro">

    <div style="background-image: url(http://placebear.com/400/400)" class="roundimg"></div>

    <h2>Hi. Welcome to The Quigley Inn.</h2>

    <p>The Quigley Inn is a multi-genre role-playing game set in a mysterious hotel, currently played at a free-to-use chatroom role-playing site called <a href="http://nexxushost.com/rpg/thekeep/" target="new">The Keep</a>. (Don't know what role-playing is? <a href="http://www.lmgtfy.com/?q=what+is+role+playing+%2Bgame" target="_blank">Google it</a>.) All sorts of characters show up there, become trapped, and must work together to get along, survive and eventually find a way out. This involves the exploration of each of the hundred worlds linked to the hotel behind every room door.</p>

    <p>But this particular page isn't about explaining the setting.  It's about determining whether you may be able to join us on this wacky adventure. After all, when you consider that you're making a commitment to spending your free nights with the same group of people over a long period of time, you realize that liking the setting is actually less important than fitting in with your fellow players.</p>
    
    <p>So if you're really interested in becoming a part of our group, take some time to carefully read the sections below. Then use the helpful links at the bottom to get started on your very first character at Quigley!</p>

</section>

<section id="recruiting">

    <fieldset class="heading"><legend>Always Recruiting</legend></fieldset>

    <div class="idealplayer">
        <p>In no particular order, an ideal player at Quigley is...</p>

        <ul>
            <li>Over 18.</li>
            <li>A good sport.</li>
            <li>A self-starter.</li>
            <li>Unpretentious.</li>
            <li>Not an asshole.</li>
            <li>A good communicator in English.</li>
            <li>Able to take constructive criticism.</li>
            <li>Able to use spellcheck effectively.</li>
            <li>Someone with a good sense of humor.</li>
            <li>Willing to take big in character risks.</li>
            <li>Pretty smart, with a firm grasp of basic logic.</li>
            <li>Dedicated with several nights a week available.</li>
            <li>Willing to use Skype for OOC instant messaging.</li>
            <li>Unafraid of putting a character's fate in the hands of a dice roll.</li>
            <li>Appreciative of realistic, believable portrayal of fantasy elements.</li>
            <li>Unoffended by crassness, vulgarity, violence, sexual content, and other very mature (and immature) topics.</li>
        </ul>

        <p>Does this sound like you? Then perhaps Quigley could be your ideal RP!</p>
    </div>

</section>

<section id="features">

    <h2>Consider the following...</h2>

    <ul>
        <li class="row">
            <div class="col-s-2">
                <img src="/Css/images/temp/clock.png" class="hidden-xs" />
            </div>
            <div class="col-s-10">
                <h4>Play Times</h4>
                <p>Typically there are a couple players around throughout the day and night, but the vast majority of the action takes place between the hours of 6 PM and 12 AM Pacific time (that's 8PM and 2AM Central time). If you feel confident that you'll usually be available several nights a week during those times, then you’re probably good to go.</p>
            </div>
        </li>
        <li class="row">
            <div class="col-s-2">
                <img src="/Css/images/temp/writing.png" class="hidden-xs" />
            </div>
            <div class="col-s-10">
                <h4>Writing Style</h4>
                <p>Some people believe that a good role-playing post should be a couple paragraphs long at the bare minimum. Others think that reading that much is boring, and prefer to stick with just one or two sentences on average. At Quigley, we are so fucking over trying to shoehorn an idea of a "good" post into a box with specific parameters, and prefer the flexibility of being able to post whatever we feel the situation calls for. We don't care how you write, as long as your writing seems appropriate, timely, and intelligible.</p>
            </div>
        </li>
        <li class="row">
            <div class="col-s-2">
                <img src="/Css/images/temp/steering.png" class="hidden-xs" />
            </div>
            <div class="col-s-10">
                <h4>Character-Driven RP</h4>
                <p>The overarching goal at Quigley is to eventually explore all worlds located in each of the 100 hotel rooms. However, these off-world adventures constitute a minority of playtime. This means that most scenes will not be action-packed. Instead, the bulk of playtime will revolve around interacting with other player characters, and developing your own characters over a long period of time, as they cope with their surroundings and plan further progress. Often this relies on the ability to create your own fun.</p>
            </div>
        </li>
        <li class="row">
            <div class="col-s-2">
                <img src="/Css/images/temp/handshake.png" class="hidden-xs" />
            </div>
            <div class="col-s-10">
                <h4>An RP that Runs Itself</h4>
                <p>Those 100 worlds we keep mentioning are 100 chances for any player to DM their own plot. That's right, while only a few people have control over NPCs and events at the main hotel, anyone can be a DM at Quigley for off-world adventures. More than that, most policing of behavior is done mutually here, rather than relying on the moderator to swoop in and bring the hammer down on people who step out of line. To play here is to take ownership of the RP, and lead by example.</p>
            </div>
        </li>
        <li class="row">
            <div class="col-s-2">
                <img src="/Css/images/temp/swords.png" class="hidden-xs" />
            </div>
            <div class="col-s-10">
                <h4>Player vs. Player</h4>
                <p>Quigley is meant to be an intimate setting where vastly different characters are constantly grating on each other and struggling to get along. This means there stands to be a lot of harsh in-character arguments and player-vs-player combat. You must be able to strike a balance of reacting to failures in character, while keeping a level head out of character, without holding a grudge. Playing here ultimately means being able to love each other OOC while often being at each other's throats IC.</p>
            </div>
        </li>
        <li class="row">
            <div class="col-s-2">
                <img src="/Css/images/temp/skull.png" class="hidden-xs" />
            </div>
            <div class="col-s-10">
                <h4>No Topic is Taboo</h4>
                <p>We try not to judge people for what their characters do. We love to explore morally gray areas, and enjoy shocking plot points from time to time. As such, no topic is off the table in character. Some of those topics may be, but are not limited to: racism, rape, sexual deviance, emotional abuse, violence, and death, including the killing of children and cute fuzzy animals. Bad things will happen in this game, sometimes to characters you love - sometimes your own. This is not a game where the heroes always win.</p>
            </div>
        </li>
        <li class="row">
            <div class="col-s-2">
                <img src="/Css/images/temp/thumbsup.png" class="hidden-xs" />
            </div>
            <div class="col-s-10">
                <h4>Demographics</h4>
                <p>We are a group of nerds who are mostly white, straight, socially liberal, ranging from our mid 20s to early 30s in age. About 40% of us are female and 60% male. Weirdly, about 40% are Canadian, while almost all the rest are from the Southeastern portion of the United States. We have at least one gay person, one transgender, and one non-Caucasian among our roster. If you are intolerant of people identifying as LGBT or believe some skin colors are superior to others, you can fuck off right now. We don't want you here.</p>
            </div>
        </li>
    </ul>
</section>

<section id="getstarted" class="row">

    <fieldset class="heading"><legend>Still Interested?</legend></fieldset>

    <ul>
        <li class="col-m-4">
            <img src="/Css/images/temp/hotel.png" />
            <h3>1. Explore the setting.</h3>
            <p>Get to know our setting with the <a href="#">Setting Overview</a>. You may also want to take a look at the <a href="#">Dice Rules</a> and other <a href="#">Policies</a> to get a feel for the game.</p>
        </li>
        <li class="col-m-4">
            <img src="/Css/images/temp/addfriend.png" />
            <h3>2. Make a character.</h3>
            <p>Check out the <a href="#">Character Creation Guide</a> to get started on making a new Quigley character. Perusing our list of <a href="#">Current Characters</a> may be useful, too.</p>
        </li>
        <li class="col-m-4">
            <img src="/Css/images/temp/chat.png" />
            <h3>3. Stay in touch.</h3>
            <p>Got questions or comments? Feel free to ask us in the chatroom. Look for QuigleyRP in the room list. Anyone marked as a moderator or helper on the <a href="#">Players</a> page are good people to ask for.</p>
        </li>
    </ul>

</section>