@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Base.cshtml";
}

<section id="pageheader">
    <h1>Players</h1>
</section>

<section id="playerHeading">
    <h2>Stacy: Soulless Despot</h2>
    <h3>RP Creator, Site Administator, Global Moderator</h3>
</section>

<section id="playerContent">
    <img src="" />

    <h4>Joined October 19, 2014</h4>
    <h4>Bellingham, WA - Pacific Time Zone</h4>
    <h4>Age 30</h4>

    <p>Good day sunshine, good day sunshine, good day sunshine. I need to laugh and when the sun is out. I've got something I can laugh about. I feel good in a special way. I'm in love and it's a sunny day. Good day sunshine, good day sunshine, good day sunshine. We take a walk, the sun is shining down. Burns my feet as they touch the ground. Good day sunshine, good day sunshine, good day sunshine. Then we'd lie beneath the shady tree. I love her and she's loving me. She feels good, she knows she's looking fine. I'm so proud to know that she is mine. Good day sunshine, good day sunshine, good day sunshine. Good day sunshine, good day sunshine, good day sunshine. Good day sunshine, good day sunshine, good day sunshine.</p>
</section>

<section id="characters">
    <h1 class="subheading">Characters</h1>
    <ul>
        <li><a href=""><img src="" /></a></li>
    </ul>
</section>